*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  color: bisque;
}

.main {
  /* text-align: center; */
  padding: 38.8%;
  padding-bottom: 0;
  padding-top: 10%;

}

.cal {
  /* border: 1px solid black; */
  padding: 15px;
  width: max-content;
  background-color: rgba(20, 20, 20, 0.795);
  box-shadow: 0 0 9999px 9999px rgba(80, 80, 80, 0);
  border-radius: 10px;
}

#ans {
  height: 40%;
  color: rgba(255, 228, 196, 0.692);
  text-align: right;
  padding-right: 5%;
  padding-top: 2vh;
  font-size: small;
  font-weight: 600;
  letter-spacing: 1.5px;
}

#val {
  height: 60%;
  text-align: right;
  color: bisque;
  font-weight: bold;
  padding-top: 1.5vh;
  padding-right: 5%;
  font-size: x-large;
  letter-spacing: 1.5px;
}

.screen {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.336);
  width: 20vw;
  height: 12vh;
  padding: 1px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.425);
}

.buttons {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
}

.buttons div {
  display: flex;
  justify-content: space-between;
}

.num {
  /* margin: 5px; */
  margin-top: 5px;
  border-radius: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
  background-color: bisque;
  color: black;
  border: none;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.425);
}

.num:hover {
  background-color: rgba(20, 20, 20, 0.795);
  color: bisque;
  box-shadow: none;
}

.operation {
  /* margin: 5px; */
  margin-top: 5px;
  border-radius: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
  background-color: rgb(255, 201, 134);
  color: black;
  border: none;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.425);
}

.operation:hover {
  background-color: rgba(20, 20, 20, 0.795);
  color: bisque;
  box-shadow: none;
}